<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <script th:src="@{/webjars/lodash/4.17.21/lodash.js}"></script>
    <script th:src="@{/js/fingerprint2.min.js}"></script>
    <link th:href="@{/webjars/font-awesome/5.15.3/css/all.css}" rel="stylesheet">
    <link th:href="@{/webjars/bulma/0.9.2/css/bulma.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/favicon.ico}" rel="icon">
    <title>Authentication server</title>
</head>
<body>
<noscript>
    <strong>We're sorry but this app doesn't work properly without JavaScript enabled. Please enable it to
        continue.</strong>
</noscript>
<div>
    <nav class="navbar is-primary sticky-navbar">
        <div class="navbar-brand">
            <span class="logo"><a href="/" id="logo"><img src="/images/logo.png"></a></span>
            <div class="simple-clock" id="time-block">
                <p id="time"></p>
            </div>
            <div class="navbar-burger" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-end">
                <span class="navbar-item" onclick="changeTouchStatus()" style="margin: 0 16px">
                    <i class="has-text-warning is-size-2 fas fa-keyboard" id="touch-keyboard"
                       style="display: none;"></i>
                    <i class="has-text-danger is-size-2 fas fa-keyboard" id="not-touch-keyboard"></i>
                </span>
            </div>
        </div>
    </nav>
    <div class="box">
        <div class="columns is-centered">
            <div class="column is-half-tablet is-one-third-desktop is-one-quarter-widescreen is-one-fifth-fullhd">
                <div class="box">
                    <form action="#" id="login_form" method="post" th:action="@{/do_login}">
                        <div class="field">
                            <label class="label">Имя пользователя</label>
                            <div class="control has-icons-left">
                                <input class="input" name="username" placeholder="Имя пользователя" type="text">
                                <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                            </div>
                        </div>
                        <div class="field">
                            <label class="label">Пароль</label>
                            <div class="control has-icons-left">
                                <input class="input" name="password" placeholder="Пароль" type="password">
                                <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                            </div>
                        </div>
                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-link" type="submit">Вход</button>
                            </div>
                            <p class="help" th:if="${param.credentialsError}" th:text="${session?.SPRING_SECURITY_LAST_EXCEPTION?.message}">Неверное имя пользователя или пароль</p>
                            <p class="help" th:if="${param.successLogout}">Вы вышли из системы</p>
                        </div>
                        <input id="fp_input" name="_fingerprint" type="hidden" value="FP_PLACEHOLDER">
                        <input th:if="${param.continue != null}" name="_continue" type="hidden" th:value="${param.continue}">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
     document.getElementById('login_form').onsubmit = function(e) {
        e.preventDefault();

        let p = new Promise((resolve, reject) => {
            async function getHash () {
                const options = {
                    excludes: {
                        plugins: true,
                        localStorage: true,
                        adBlock: true,
                        screenResolution: true,
                        availableScreenResolution: true,
                        enumerateDevices: true,
                        pixelRatio: true,
                        doNotTrack: true
                    }
                }

                try {
                    const components = await Fingerprint2.getPromise(options);
                    const values = components.map(component => component.value);
                    return String(Fingerprint2.x64hash128(values.join(''), 31));
                } catch (e) {
                    reject(e);
                }
            }

            if (window.requestIdleCallback) {
                requestIdleCallback(async () => resolve(await getHash()));
            } else {
                setTimeout(async () => resolve(await getHash()), 500);
            }
        });

        p.then(result => {
            document.getElementById('fp_input').value = result;
            document.getElementById('login_form').submit();
        });
    }
</script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>
