<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <script th:src="@{/js/fingerprint2.min.js}"></script>
    <script th:src="@{/js/script.js}"></script>
    <link th:href="@{/favicon.ico}" rel="icon">
    <title>Authentication server</title>
</head>
<body>
<noscript>
    <strong>We're sorry: this app doesn't work properly without JavaScript enabled. Please enable it to
        continue.</strong>
</noscript>
<form action="#" id="refresh_form" method="post" th:action="@{/api/refresh}">
    <input id="fp_input" name="_fingerprint" type="hidden" value="FP_PLACEHOLDER">
    <input th:if="${param.continue != null}" name="_continue" type="hidden" th:value="${param.continue}">
    <input th:if="${param.app != null}" name="_app" type="hidden" th:value="${param.app}">
</form>
<script type="text/javascript">
     let refresh = function() {
        getFingerprint()
            .then(result => {
                document.getElementById('fp_input').value = result;
                document.getElementById('refresh_form').submit();
            });
    }
    refresh();
</script>
</body>
</html>